header {
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url("../img/headbackground.jpg");
}
.announcement__advtBackground {
    background: #322539;
    margin-top: -24px;
}
.partner a>img {
    border: none;
}